@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
  box-sizing: border-box;
  height: 100%;
  font-size: var(--base-font-size);
}

body {
  font-family: var(--body-font-family);
  width: 100%;
  min-height: 100%;
  background-color: var(--global-bg-clr);
  color: var(--global-text-clr);
  font-weight: var(--font-weight-regular);
  line-height: var(--default-line-height);
  overflow-x: hidden;
  font-size: var(--paragraph-size);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a,
i,
span {
  display: inline-block;
}

a {
  color: var(--global-text-clr);
  @include transition;
}
