@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.e-avat {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border-radius: 50%;

  &__img {
    width: 100%;
    height: 100%;
  }

  // Generating different sizes
  @each $current-size in $avatars {
    &.e-avat-#{$current-size} {
      width: calc(($current-size / 10) * 1rem);
      height: calc(($current-size / 10) * 1rem);
    }
  }

  &-group {
    display: flex;
    align-items: center;
    .e-avat:not(:first-of-type) {
      border: 0.2rem solid var(--global-bg-clr);
      margin-left: -0.8rem;
    }
  }
}
