@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../layout/breakpoints" as *;

.ease-dashboard.ease-dashboard-communications {
  .ease-message-block > .e-row {
    position: relative;
  }

  .ease-messages-row {
    cursor: pointer;

    &.e-active {
      background-color: var(--e-gray-100-clr);
    }
  }

  .ease-communication-details {
    width: 100%;
  }

  // Chat
  .ease-message-box {
    position: relative;

    .e-card__body {
      height: 100%;
      max-height: 65rem;
      overflow: hidden auto;
      @include customScrollbar;
      @include respond(md) {
        max-height: 70rem;
        margin-bottom: 8rem;
      }
    }

    .ease-messages-chat {
      .ease-chat {
        margin-bottom: 2rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        .chat-bubble {
          border-radius: var(--default-brd-rad);
        }

        &.chat-is-you .chat-bubble {
          background-color: var(--e-gray-100-clr);
        }

        &.chat-is-me {
          flex-direction: row-reverse;
          .chat-bubble {
            background-color: var(--e-primary-clr);
            color: var(--e-gray-100-clr);
          }
        }
      }
    }

    .ease-message-footer {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      .e-form__input {
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 2rem;

        &.options {
          border-radius: var(--default-brd-rad) 0 0 var(--default-brd-rad);
          width: auto;
          padding: 1rem 0 1rem 2rem;
          border-color: transparent;
        }
      }
    }
  }

  // Center
  .ease-message-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateX(-120%);
    visibility: hidden;
    @include transition;
    &.e-active {
      transform: translateX(0);
      visibility: visible;
    }

    @include respond(md) {
      position: static;
      transform: translateX(0);
      visibility: visible;
      height: auto;
    }
  }
}

// Chat modal
.ease-communication-modal {
  a:hover {
    color: var(--e-secondary-clr);
  }

  .ease-communication-data-modal {
    .ease-chat-media .e-card img {
      width: 100%;
      height: 100%;
    }
  }

  > .e-container {
    @include respond(lg) {
      position: relative;

      .ease-communication-data-modal {
        position: relative;
        top: var(--default-navbar-height);
        // right: -$default-gutter;
      }
    }
  }

  @include respond(lg) {
    background-color: rgba($color: #000000, $alpha: 0.02);
    transform: translateX(120%);
    visibility: hidden;
    opacity: 1;
    &.e-active {
      transform: translateX(0);
    }
  }
}
