@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../layout/breakpoints" as *;

.ease-dashboard.ease-dashboard-communications {
  .ease-message-block {
    position: relative;
  }

  .ease-messages-row {
    cursor: pointer;

    &.e-active {
      background-color: var(--e-gray-100-clr);
    }
  }

  .ease-communication-details {
    width: 100%;
  }

  // Chat
  .ease-message-box {
    .e-card__body {
      height: 100%;
      max-height: 45rem;
      overflow: hidden auto;
      @include customScrollbar;
      @include respond(md) {
        max-height: 70rem;
      }
    }
    .ease-messages-chat {
      .ease-chat {
        margin-bottom: 2rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        .chat-bubble {
          border-radius: var(--default-brd-rad);
        }

        &.chat-is-you .chat-bubble {
          background-color: var(--e-gray-100-clr);
        }

        &.chat-is-me {
          flex-direction: row-reverse;
          .chat-bubble {
            background-color: var(--e-primary-clr);
            color: var(--e-gray-100-clr);
          }
        }
      }
    }

    .ease-message-footer {
      .e-form__input {
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 2rem;

        &.options {
          border-radius: var(--default-brd-rad) 0 0 var(--default-brd-rad);
          width: auto;
          padding: 1rem 0 1rem 2rem;
          border-color: transparent;
        }
      }
    }
  }
}

// Chat modal
#ease-message-user-data {
  a:hover {
    color: var(--e-secondary-clr);
  }

  .ease-message-user-data-modal {
    .ease-chat-media .e-card img {
      width: 100%;
      height: 100%;
    }
  }
}
