@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

$e-utilities: (
  // Overflow
  "overflow":
    (
      class: e-overflow-,
      property: overflow,
      values: (
        auto: auto,
        visible: visible,
        hidden: hidden,
      ),
    ),
  // Text alignment
  "text-alignment":
    (
      property: text-align,
      class: e-ta-,
      values: (
        left: left,
        center: center,
        right: right,
        justify: justify,
      ),
    ),
  // Text transform
  "text-transform":
    (
      property: text-transform,
      class: e-tt-,
      responsive: false,
      values: (
        none: none,
        lowercase: lowercase,
        capitalize: capitalize,
        uppercase: uppercase,
      ),
    ),
  // Text style
  "text-style":
    (
      property: font-style,
      class: e-ts-,
      responsive: false,
      values: (
        normal: normal,
        italic: italic,
      ),
    ),
  // Text decoration
  "text-decoration":
    (
      property: text-decoration,
      class: e-td-,
      responsive: false,
      values: (
        underline: underline,
        line-through: line-through,
      ),
    ),
  // Font sizes
  "font-sizes":
    (
      property: font-size,
      class: e-fs-,
      values: map.merge($font-sizes, $font-sizes),
    ),
  // Font weights
  "font-weights":
    (
      property: font-weight,
      responsive: false,
      class: e-fw-,
      values: map.merge($font-weights, $font-weights),
    ),
  // Flexbox and Block
  "flexbox-block":
    (
      property: display,
      class: e-d-,
      values: (
        block: block,
        in-block: inline-block,
        flex: flex,
        in-flex: inline-flex,
        none: none,
      ),
    ),
  // Flexbox direction
  "flexbox-direction":
    (
      property: flex-direction,
      class: e-fd-,
      values: (
        row: row,
        row-reverse: row-reverse,
        column: column,
        column-reverse: column-reverse,
      ),
    ),
  // Flexbox - Justify content
  "flexbox-justify":
    (
      property: justify-content,
      class: e-justify-,
      values: (
        stretch: stretch,
        start: flex-start,
        end: flex-end,
        evenly: space-evenly,
        around: space-around,
        between: space-between,
        center: center,
      ),
    ),
  // Flexbox - Align items
  "flexbox-align":
    (
      property: align-items,
      class: e-align-,
      values: (
        stretch: stretch,
        start: flex-start,
        end: flex-end,
        center: center,
      ),
    ),
  // Flexbox - Ordering
  "flexbox-order":
    (
      property: order,
      class: e-order-,
      values: (
        n-1: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
      ),
    ),
  // Flexbox - Basis
  "flexbox-basis":
    (
      property: flex,
      class: e-flex-b-,
      values: (
        1: 1,
        2: 2,
      ),
    ),
  // Flexbox - Basis - Auto
  "flexbox-basis-auto":
    (
      property: flex,
      class: e-flex-,
      values: (
        auto: 0 0 auto,
      ),
    ),
  // Margin - All around
  "margin":
    (
      property: margin,
      class: e-mg-,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Top
  "margin-top":
    (
      property: margin-top,
      class: e-mg-t-,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Right
  "margin-right":
    (
      property: margin-right,
      class: e-mg-r-,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Bottom
  "margin-bottom":
    (
      property: margin-bottom,
      class: e-mg-b-,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Left
  "margin-left":
    (
      property: margin-left,
      class: e-mg-l-,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Left and Right
  "margin-left-right":
    (
      property: margin-left margin-right,
      class: e-mg-x-,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Top and Bottom
  "margin-top-bottom":
    (
      property: margin-top margin-bottom,
      class: e-mg-y-,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - All around
  "padding":
    (
      property: padding,
      class: e-pd-,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Top
  "padding-top":
    (
      property: padding-top,
      class: e-pd-t-,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Right
  "padding-right":
    (
      property: padding-right,
      class: e-pd-r-,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Bottom
  "padding-bottom":
    (
      property: padding-bottom,
      class: e-pd-b-,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Left
  "padding-left":
    (
      property: padding-left,
      class: e-pd-l-,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Left and Right
  "padding-left-right":
    (
      property: padding-left padding-right,
      class: e-pd-x-,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Top and Bottom
  "padding-top-bottom":
    (
      property: padding-top padding-bottom,
      class: e-pd-y-,
      values: map.merge($spacings, $spacings),
    )
);
