@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

$e-utilities: (
  // Overflow
  "overflow":
    (
      class: e-overflow-,
      responsive: true,
      property: overflow,
      important: true,
      values: (
        auto: auto,
        visible: visible,
        hidden: hidden,
      ),
    ),
  // Text alignment
  "text-alignment":
    (
      name: "Text Alignment",
      responsive: true,
      property: text-align,
      class: e-ta-,
      important: true,
      values: (
        left: left,
        center: center,
        right: right,
        justify: justify,
      ),
    ),
  // Text transform
  "text-transform":
    (
      name: "Text Transform",
      property: text-transform,
      class: e-tt-,
      important: true,
      values: (
        none: none,
        lowercase: lowercase,
        capitalize: capitalize,
        uppercase: uppercase,
      ),
    ),
  // Text style
  "text-style":
    (
      name: "Text Style",
      property: font-style,
      class: e-ts-,
      suffix: null,
      important: true,
      values: (
        normal: normal,
        italic: italic,
      ),
    ),
  // Text decoration
  "text-decoration":
    (
      name: "Text Decoration",
      property: text-decoration,
      class: e-td-,
      important: true,
      values: (
        underline: underline,
        line-through: line-through,
      ),
    ),
  // Flexbox and Block
  "flexbox-block":
    (
      name: "Flexbox and Block",
      responsive: true,
      property: display,
      class: e-d-,
      important: true,
      values: (
        block: block,
        in-block: inline-block,
        flex: flex,
        in-flex: inline-flex,
        none: none,
      ),
    ),
  // Flexbox direction
  "flexbox-direction":
    (
      name: "Flexbox Direction",
      responsive: true,
      property: flex-direction,
      class: e-fd-,
      important: true,
      values: (
        row: row,
        row-reverse: row-reverse,
        column: column,
        column-reverse: column-reverse,
      ),
    ),
  // Flexbox - Justify content
  "flexbox-justify":
    (
      name: "Flexbox - Justify Content",
      responsive: true,
      property: justify-content,
      class: e-justify-,
      important: true,
      values: (
        stretch: stretch,
        start: flex-start,
        end: flex-end,
        evenly: space-evenly,
        around: space-around,
        between: space-between,
        center: center,
      ),
    ),
  // Flexbox - Align items
  "flexbox-align":
    (
      name: "Flexbox - Align Items",
      responsive: true,
      property: align-items,
      class: e-align-,
      important: true,
      values: (
        stretch: stretch,
        start: flex-start,
        end: flex-end,
        center: center,
      ),
    ),
  // Flexbox - Ordering
  "flexbox-order":
    (
      name: "Flexbox - Ordering",
      responsive: true,
      property: order,
      class: e-order-,
      important: true,
      values: (
        n-1: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
      ),
    ),
  // Flexbox - Basis
  "flexbox-basis":
    (
      name: "Flexbox - Basis",
      responsive: true,
      property: flex,
      class: e-flex-b-,
      important: true,
      values: (
        1: 1,
        2: 2,
      ),
    ),
  // Flexbox - Basis - Auto
  "flexbox-basis-auto":
    (
      name: "Flexbox - Basis - Auto",
      responsive: true,
      property: flex,
      class: e-flex-,
      important: true,
      values: (
        auto: 0 0 auto,
      ),
    ),
  // Margin - All around
  "margin":
    (
      name: "Margin - All Around",
      responsive: true,
      property: margin,
      class: e-mg-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Top
  "margin-top":
    (
      name: "Margin - Top",
      responsive: true,
      property: margin-top,
      class: e-mg-t-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Right
  "margin-right":
    (
      name: "Margin - Right",
      responsive: true,
      property: margin-right,
      class: e-mg-r-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Bottom
  "margin-bottom":
    (
      name: "Margin - Bottom",
      responsive: true,
      property: margin-bottom,
      class: e-mg-b-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Left
  "margin-left":
    (
      name: "Margin - Left",
      responsive: true,
      property: margin-left,
      class: e-mg-l-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Left and Right
  "margin-left-right":
    (
      name: "Margin - Left and Right",
      responsive: true,
      property: margin-left,
      property-2: margin-right,
      class: e-mg-x-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Margin - Top and Bottom
  "margin-top-bottom":
    (
      name: "Margin - Top and Bottom",
      responsive: true,
      property: margin-top,
      property-2: margin-bottom,
      class: e-mg-y-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - All around
  "padding":
    (
      name: "Padding - All Around",
      responsive: true,
      property: padding,
      class: e-pd-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Top
  "padding-top":
    (
      name: "Padding - Top",
      responsive: true,
      property: padding-top,
      class: e-pd-t-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Right
  "padding-right":
    (
      name: "Padding - Right",
      responsive: true,
      property: padding-right,
      class: e-pd-r-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Bottom
  "padding-bottom":
    (
      name: "Padding - Bottom",
      responsive: true,
      property: padding-bottom,
      class: e-pd-b-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Left
  "padding-left":
    (
      name: "Padding - Left",
      responsive: true,
      property: padding-left,
      class: e-pd-l-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Left and Right
  "padding-left-right":
    (
      name: "Padding - Left and Right",
      responsive: true,
      property: padding-left,
      property-2: padding-right,
      class: e-pd-x-,
      important: true,
      values: map.merge($spacings, $spacings),
    ),
  // Padding - Top and Bottom
  "padding-top-bottom":
    (
      name: "Padding - Top and Bottom",
      responsive: true,
      property: padding-top,
      property-2: padding-bottom,
      class: e-pd-y-,
      important: true,
      values: map.merge($spacings, $spacings),
    )
);
